<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AllowNetworkAccess</key>
        <false/>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDisplayName</key>
        <string>CindyJS-Example</string>
        <key>CFBundleIdentifier</key>
        <string>org.cindyjs.7315f427-6ea7-4e62-9855-5519a5f3668d</string>
        <key>CFBundleName</key>
        <string>CindyJS</string>
        <key>CFBundleShortVersionString</key>
        <string>0.8</string>
        <key>CFBundleVersion</key>
        <string>0.8</string>
        <key>Height</key>
        <string>463</string>
        <key>MainHTML</key>
        <string>drawimage.html</string>
        <key>Width</key>
        <string>841</string>
    </dict>
</plist>
